{% load static %}<!doctype html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="shortcut icon" href=" {% static 'images/favicon.ico' %}"/>
		<title>Andi Saxoton</title>

		<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" href=" {% static 'css/pe-icon-7-stroke.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" href=" {% static 'css/settings.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/owl.carousel.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/owl.theme.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/owl.transitions.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/prettyPhoto.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/style.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/custom.css' %}" type="text/css" media="all"/>
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i%7CRaleway:100,200,300,400,500,600,700,800,900%7CDroid+Serif:400,400italic,700" rel="stylesheet"/>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="noo-spinner">
			<div class="spinner">
				<div class="cube1"></div>
				<div class="cube2"></div>
			</div>
		</div>
		<div class="search-form-container-full">
			<div class="container">
				<div class="row">
					<div class="col-sm-7 offset-sm-3 search-wrap">
						<div class="text-center middle">
							<form class="search-form">
								<input type="search" class="search-field" value="" name="s" placeholder="Was möchtest du suchen?" />
								<button class="button-search">
									<i class="pe-7s-search"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="side-box-container" class="sidr right">
			<div class="sidr-inner">
				<a href="#" class="button-side-box-close pe-7s-close"></a>
				<div class="side-box-inner">
					<div class="widget">
						<h3 class="widget-title">About</h3>
						<p>
							Donec euismod sem ac urna finibus, sit amet efficitur erat tempus. Ut dapibus dictum turpis, vel faucibus erat posu ere vitae onec euismod sem ac urna finius sit ametvel faucibus erat posuere vitae.
						</p>
					</div>
					<div class="widget">
						<h3 class="widget-title">Useful Links</h3>
						<ul>
							<li><a href="about-us.html">About us</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="contact-us.html">Contact us</a></li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="blog.html">Blog</a></li>
						</ul>
					</div>
				</div>
				<ul class="side-box-social-list">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="site">
			<header class="header header-1 header-desktop header-transparent header-white">
				<div class="container-fluid">
					<div class="row">
						<div class="col-10 col-md-10 col-lg-10 col-xl-10 pl-0">
							<div class="row">
								<nav class="main-navigation d-none d-lg-block">
									<div class="primary-menu">
										<ul class="main-menu">
											<li class="menu-item-has-children mega-menu">
												<a href="{% url 'home' %}">Home</a>
												
											</li>
											<li class="menu-item-has-children">
												<a href="#portfolio">Portfolio</a>
											
											</li>

											<li class="menu-item-has-children">
												<a href="#projekte">Projekte</a>
											</li>

											<li class="menu-item-has-children mega-menu">
												<a href="#show">Nächste Gigs</a>
												
											</li>
											<li class="menu-item-has-children">
												<a href="{% url 'gallerie' %}">Galerie</a>
												
											</li>
											
											<li class="menu-item-has-children mega-menu">
												<a href="#kontakt">Kontakt</a>
												
											</li>

										</ul>
									</div>
								</nav>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-2 header-column-icon-container">
							<div class="header-icon header-icon-search d-none d-lg-block">
								<i class="pe-7s-search"></i>
							</div>
							<div class="header-icon header-icon-canvas menu-button d-none d-lg-block">
								<span></span>
							</div>
							<div id="page-open-mobile-menu" class="page-open-mobile-menu dark d-lg-none">
								<div><i></i></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div id="page-mobile-main-menu" class="page-mobile-main-menu">
				<div class="page-mobile-menu-header">
					<div id="page-close-mobile-menu" class="page-close-mobile-menu">
						<div><i></i></div>
					</div>
				</div>
				<ul class="mobile-menu">
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Home</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Portfolio</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>

					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Projekte</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>


					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Nächste Gigs</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Galerie</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Historie</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>

					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Kontakt</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
				</ul>
			</div>




            {% block content %}
            {% endblock %}


            

			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-12">
							<img src="{% static 'images/Andi/logo.png' %}" alt="Heli" />
							<div class="office">
								<p><i class="pe-7s-call"></i> 062 298 02 02 </p>
								<p><i class="pe-7s-mail-open-file"></i> andi@saxoton.ch</p>
								<p><i class="pe-7s-map-2"></i>4654 Lostorf</p>
							</div>
							<div class="mb-5 d-block d-md-block d-lg-none"></div>
						</div>
						<div class="col-lg-2 col-md-6">
						</div>
						<div class="col-lg-3 col-md-8">
							<h3 class="widget-title uppercase">Links</h3>
							<ul class="widget-recent-entries">
								<li>
									<a href="blog-detail.html">Irrwish</a>, <a href="blog-detail.html">Roger & friends</a>
								</li>
								<li>
									<a href="blog-detail.html">Responsive Design Process</a>
								</li>
								<li>
									<a href="blog-detail.html">A Little Journey</a>
								</li>
								<li>
									<a href="blog-detail.html">Powerful Workflow Tips</a>
								</li>
							</ul>
							<div class="mb-5 d-block d-md-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright text-center">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							Made with <i class="pe-7s-like"></i> by <a target="_blank" href="#">Orell Hürzeler</a> -
							<a target="_blank" href="#">Photosynthetic Arts</a>
						</div>
					</div>
				</div>
			</div>
		</div>
        
		<!-- LOAD JQUERY LIBRARY -->
		<script src=" {% static 'js/jquery.min.js' %}"></script>
		<script src=" {% static 'js/jquery-migrate.min.js' %}"></script>
		<script src=" {% static 'js/bootstrap.min.js' %}"></script>
		<script src=" {% static 'js/modernizr-2.7.1.min.js' %}"></script>
		<script src=" {% static 'js/jquery.sidr.min.js' %}"></script>
		<script src=" {% static 'js/jquery.countTo.js' %}"></script>
		<script src=" {% static 'js/owl.carousel.min.js' %}"></script>
		<script src=" {% static 'js/jquery.prettyPhoto.js' %}"></script>
		<script src=" {% static 'js/headroom.min.js' %}"></script>
		<script src=" {% static 'js/jQuery.headroom.js' %}"></script>
		<script src=" {% static 'js/waypoints.min.js' %}"></script>
		<script src=" {% static 'js/script.js' %}"></script>

		<script src=" {% static 'js/jquery.themepunch.tools.min.js' %}"></script>
		<script src=" {% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.video.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.slideanims.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.actions.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.kenburn.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.navigation.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.migration.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.parallax.min.js' %}"></script>
	</body>
</html>
