{% load static %}<!doctype html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="shortcut icon" href=" {% static 'images/favicon.ico' %}"/>
		<title>Andi Saxoton</title>

		<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" href=" {% static 'css/pe-icon-7-stroke.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" href=" {% static 'css/settings.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/owl.carousel.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/owl.theme.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/owl.transitions.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/prettyPhoto.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/style.css' %}" type="text/css" media="all"/>
		<link rel="stylesheet" href=" {% static 'css/custom.css' %}" type="text/css" media="all"/>
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i%7CRaleway:100,200,300,400,500,600,700,800,900%7CDroid+Serif:400,400italic,700" rel="stylesheet"/>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="noo-spinner">
			<div class="spinner">
				<div class="cube1"></div>
				<div class="cube2"></div>
			</div>
		</div>
		<div class="search-form-container-full">
			<div class="container">
				<div class="row">
					<div class="col-sm-7 offset-sm-3 search-wrap">
						<div class="text-center middle">
							<form class="search-form">
								<input type="search" class="search-field" value="" name="s" placeholder="Was möchtest du suchen?" />
								<button class="button-search">
									<i class="pe-7s-search"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="side-box-container" class="sidr right">
			<div class="sidr-inner">
				<a href="#" class="button-side-box-close pe-7s-close"></a>
				<div class="side-box-inner">
					<div class="widget">
						<h3 class="widget-title">About</h3>
						<p>
							Donec euismod sem ac urna finibus, sit amet efficitur erat tempus. Ut dapibus dictum turpis, vel faucibus erat posu ere vitae onec euismod sem ac urna finius sit ametvel faucibus erat posuere vitae.
						</p>
					</div>
					<div class="widget">
						<h3 class="widget-title">Useful Links</h3>
						<ul>
							<li><a href="about-us.html">About us</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="contact-us.html">Contact us</a></li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="blog.html">Blog</a></li>
						</ul>
					</div>
				</div>
				<ul class="side-box-social-list">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="site">
			<header class="header header-1 header-desktop header-transparent header-white">
				<div class="container-fluid">
					<div class="row">
						<div class="col-10 col-md-10 col-lg-10 col-xl-10 pl-0">
							<div class="row">
								<nav class="main-navigation d-none d-lg-block">
									<div class="primary-menu">
										<ul class="main-menu">
											<li class="menu-item-has-children mega-menu">
												<a href="#home">Home</a>
												
											</li>
											<li class="menu-item-has-children">
												<a href="#portfolio">Portfolio</a>
											
											</li>

											<li class="menu-item-has-children">
												<a href="#projekte">Projekte</a>
											</li>

											<li class="menu-item-has-children mega-menu">
												<a href="#show">Nächste Gigs</a>
												
											</li>
											<li class="menu-item-has-children">
												<a href="#galerie">Galerie</a>
												
											</li>
											
											<li class="menu-item-has-children mega-menu">
												<a href="#kontakt">Kontakt</a>
												
											</li>

										</ul>
									</div>
								</nav>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-2 header-column-icon-container">
							<div class="header-icon header-icon-search d-none d-lg-block">
								<i class="pe-7s-search"></i>
							</div>
							<div class="header-icon header-icon-canvas menu-button d-none d-lg-block">
								<span></span>
							</div>
							<div id="page-open-mobile-menu" class="page-open-mobile-menu dark d-lg-none">
								<div><i></i></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div id="page-mobile-main-menu" class="page-mobile-main-menu">
				<div class="page-mobile-menu-header">
					<div id="page-close-mobile-menu" class="page-close-mobile-menu">
						<div><i></i></div>
					</div>
				</div>
				<ul class="mobile-menu">
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Home</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Portfolio</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>

					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Projekte</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>


					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Nächste Gigs</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Galerie</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Historie</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>

					<li>
						<a href="javascript:void(0)">
							<span class="menu-item-title">Kontakt</span>
							<span class="toggle-sub-menu"> </span>
						</a>
						
					</li>
				</ul>
			</div>
			<div id="main">
			<!-- Slider  -->
				<div id="home" class="section">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12 p-0">
								<div id="rev_slider" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
									<ul>	
										<!-- SLIDE  -->
										<li data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide">

											<!-- MAIN IMAGE -->
											<img src="{% static 'images/Andi/main_slider_3.JPG' %}"  alt="" title="" width="1920" height="1100" data-lazyload="{% static 'images/Andi/main_slider_3.JPG' %}" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" />

											<!-- LAYERS -->

											<!-- LAYER NR. 3 -->
											<div class="tp-caption Heli-Text-04 tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['1','0','0','-2']" 
												 data-y="['middle','middle','middle','middle']" data-voffset="['-237','-212','-160','-120']" data-width="none"
												 data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" 
												 data-frames='[{"from":"y:-50px;opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
												 data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
												 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
											</div>

											<!-- LAYER NR. 4 -->
											<div class="tp-caption Heli-Heading-03 tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','2','2','0']" 
												 data-y="['middle','middle','middle','middle']" data-voffset="['-57','-121','-80','-64']" data-fontsize="['80','80,'80','45']"
												 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" 
												 data-frames='[{"from":"z:0;rX:0deg;rY:360;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1380,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
												 data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
												 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"><b>WILLKOMMEN</b>
											</div>

											<!-- LAYER NR. 5 -->
											<div class="tp-caption Heli-Text-05 tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
												 data-y="['middle','middle','middle','middle']" data-voffset="['80','28','60','18']" data-fontsize="['36','36','32','20']"
												 data-lineheight="['51','51','40','30']" data-width="['770','770','700','423']" data-height="['158','158','158','none']"
												 data-whitespace="normal" data-type="text" data-responsive_offset="on"
												 data-frames='[{"from":"y:50px;opacity:0;","speed":950,"to":"o:1;","delay":2390,"split":"lines","splitdelay":0.1,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
												 data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
												 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">auf meiner Seite.
									 		</div>
										</li>
										
										<!-- SLIDE  -->
										<li data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide">

											<!-- MAIN IMAGE -->
											<img src="{% static 'images/Andi/main_slider_2_1.JPG' %}" alt="" title="" width="1920" height="1100" data-lazyload="{% static 'images/Andi/main_slider_2_1.JPG' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" />

											<!-- LAYERS -->

											<!-- LAYER NR. 1 -->
											<div class="tp-caption tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['-13','-23','-29','-12']" 
												 data-y="['top','top','top','top']" data-voffset="['41','-51','9','9']" data-width="none" data-height="none"
												 data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
												 data-frames='[{"from":"x:-50px;opacity:0;","speed":600,"to":"o:1;","delay":1700,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
												 data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
												 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
												 	<img src="{% static 'images/Andi/layer1.png' %}" alt="" data-ww="['780px','780px','565px','364px']" data-hh="['564px','564px','415px','260px']" width="780" height="564" data-lazyload="{% static 'images/Andi/layer1.png' %}" data-no-retina />
											</div>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Next Gigs  -->
				<div id="show" class="section bg-dark pt-10 pb-10">
					<div class="container">
						<div class="row">
							<div class="col-sm-8 offset-sm-2">
								<div class="text-center">
									<h2 class="fz-40 fw-bolder white">NEXT GIGS</h2>
									<h3 class="fz-20 fw-normal gray">NOVEMBER SHOWS</h3>
									<p class="pt-2 pb-5 white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<div class="col-sm-12">
								<table class="table">
									<tbody>
										<tr>
											<td>Friday, Sep 2nd 2016</td>
											<td>Sunset Grill-North Myrtle Beach, SC</td>
											<td><a href="#">Get ticket</a></td>
										</tr>
										<tr>
											<td>Friday, Sep 2nd 2016</td>
											<td>Cypress Bend Vineyard – Wagram, NC</td>
											<td><a href="#">Get ticket</a></td>
										</tr>
										<tr>
											<td>Friday, Sep 2nd 2016</td>
											<td>Fun Sunday SOS – NMB</td>
											<td><a href="#">Get ticket</a></td>
										</tr>
										<tr>
											<td>Friday, Sep 2nd 2016</td>
											<td>Sunset Grill-North Myrtle Beach, SC</td>
											<td><a href="#">Get ticket</a></td>
										</tr>
										<tr>
											<td>Friday, Sep 2nd 2016</td>
											<td>Cypress Bend Vineyard – Wagram, NC</td>
											<td><a href="#">Get ticket</a></td>
										</tr>
										<tr>
											<td>Friday, Sep 2nd 2016</td>
											<td>Fun Sunday SOS – NMB</td>
											<td><a href="#">Get ticket</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			<!-- Projekte  -->
				<div id="projekte" class="section section-bg-3 pt-10 pb-10">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="project-carousel">
									<div class="item row">
										<div class="col-md-6">
											<img src="{% static 'images/Andi/irrwisch_stone.JPG' %}" alt="" />
										</div>
										<div class="col-md-6">
											<h2 class="title text-uppercase"><b>Irrwish</b> with Orchestra</h2>
											<div class="content">
												<h2 class="entry-title">
													<a class="white text-uppercase" href="portfolio-detail.html">Stone and a Rose</a>
												</h2>
												<p class="terms">
													<span>Vinyl</span><span>CD</span>
												</p>
											</div>
										</div>
									</div>
									<div class="item row">
										<div class="col-md-6">
											<img src="{% static 'images/Andi/irrwisch_stone.JPG' %}" alt="" />
										</div>
										<div class="col-md-6">
											<h2 class="title text-uppercase"><b>featured</b>works</h2>
											<div class="content">
												<h2 class="entry-title">
													<a class="white text-uppercase" href="portfolio-detail.html">Table Lamp</a>
												</h2>
												<p class="terms">
													<span>Branding</span>
												</p>
											</div>
										</div>
									</div>
									<div class="item row">
										<div class="col-md-6">
											<img src="{% static 'images/Andi/irrwisch_stone.JPG' %}" alt="" />
										</div>
										<div class="col-md-6">
											<h2 class="title text-uppercase"><b>featured</b>works</h2>
											<div class="content">
												<h2 class="entry-title">
													<a class="white text-uppercase" href="portfolio-detail.html">Vinyl cover</a>
												</h2>
												<p class="terms">
													<span>Print</span>
												</p>
											</div>
										</div>
									</div>
									<div class="item row">
										<div class="col-md-6">
											<img src="{% static 'images/Andi/irrwisch_stone.JPG' %}" alt="" />
										</div>
										<div class="col-md-6">
											<h2 class="title text-uppercase"><b>featured</b>works</h2>
											<div class="content">
												<h2 class="entry-title">
													<a class="white text-uppercase" href="portfolio-detail.html">Paper bag</a>
												</h2>
												<p class="terms">
													<span>Branding</span><span>Print</span>
												</p>
											</div>
										</div>
									</div>
									<div class="item row">
										<div class="col-md-6">
											<img src="{% static 'images/Andi/irrwisch_stone.JPG' %}" alt="" />
										</div>
										<div class="col-md-6">
											<h2 class="title text-uppercase"><b>featured</b>works</h2>
											<div class="content">
												<h2 class="entry-title">
													<a class="white text-uppercase" href="portfolio-detail.html">Photofolio</a>
												</h2>
												<p class="terms">
													<span>Branding</span><span>Print</span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Cups  -->
				<div id="abs" class="section section-bg-2 section-cover pt-10 pb-10">
					<div class="bg-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-lg-offset-0 col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-0 col-xs-6">
								<div class="counter text-center white">
									<div class="counter-icon">
										<i class="pe-7s-coffee"></i>
									</div>
									<div class="counter-content">
										<h5 class="counter-desc white">COFFEE CUPS</h5>
										<h2 class="counter-digit white" data-from="0" data-to="503" data-speed="5000">503</h2>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-offset-0 col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-0 col-xs-6">
								<div class="counter text-center white">
									<div class="counter-icon">
										<i class="pe-7s-portfolio"></i>
									</div>
									<div class="counter-content">
										<h5 class="counter-desc white">PROJECTS</h5>
										<h2 class="counter-digit white" data-from="0" data-to="75" data-speed="5000">75</h2>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-offset-0 col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-0 col-xs-6">
								<div class="counter text-center white">
									<div class="counter-icon">
										<i class="pe-7s-mouse"></i>
									</div>
									<div class="counter-content">
										<h5 class="counter-desc white">WORKING DAYS</h5>
										<h2 class="counter-digit white" data-from="0" data-to="250" data-speed="5000">250</h2>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-offset-0 col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-0 col-xs-6">
								<div class="counter no-border text-center white">
									<div class="counter-icon">
										<i class="pe-7s-users"></i>
									</div>
									<div class="counter-content">
										<h5 class="counter-desc white">CLIENTS</h5>
										<h2 class="counter-digit white" data-from="0" data-to="68" data-speed="5000">68</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Portfolio  -->
				<div id="portfolio" class="section section-bg-1 section-cover pt-9 pb-9">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-5"></div>
							<div class="col-lg-6 col-md-7">
								<h2 class="section-title fz-48 pt-6 pb-5">Meine <b>Faszination</b></h2>
								<div class="features-blocks">
									<div class="feature-item style-2 mb-3">
										<div class="feature-icon">
											<div class="feature-icon-inner">
												<i class="pe-7s-anchor"></i>
											</div>
										</div>
										<h4>Für immer verankert...</h4>
										<div class="desc">
											Ist das Saxophon... Heli now allows you to preview the change instantly without doing any server-side communication at all.
										</div>
										<a class="readmore" href="#"><span>Read More</span></a>
									</div>
									<div class="feature-item style-2 mb-3">
										<div class="feature-icon">
											<div class="feature-icon-inner">
												<i class="pe-7s-notebook"></i>
											</div>
										</div>
										<h4>UPDATED HOMEPAGES</h4>
										<div class="desc">
											There are at least 30 homepages counted at this time. And we constantly create new ones. A great offer: Tell us your desired niche theme, you’ll have it!
										</div>
										<a class="readmore" href="#"><span>Read More</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Subscribe  -->
				<div class="section bg-gray pt-8 pb-8">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-4 col-md-4">
								<h2 class="section-title fz-24 mt-1 mb-2 text-center-xs"><b>SUBSCRIBE</b>NOW</h2>
							</div>
							<div class="col-sm-12 col-lg-8 col-md-8">
								<form class="newsletter-form text-center-xs">
									<input type="email" name="EMAIL" placeholder="Deine E-Mail Adresse" class="text-center-xs mb-1" />
									<input type="submit" value="subscribe" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-12">
							<img src="{% static 'images/Andi/logo.png' %}" alt="Heli" />
							<div class="office">
								<p><i class="pe-7s-call"></i> 062 298 02 02 </p>
								<p><i class="pe-7s-mail-open-file"></i> andi@saxoton.ch</p>
								<p><i class="pe-7s-map-2"></i>4654 Lostorf</p>
							</div>
							<div class="mb-5 d-block d-md-block d-lg-none"></div>
						</div>
						<div class="col-lg-2 col-md-6">
						</div>
						<div class="col-lg-3 col-md-8">
							<h3 class="widget-title uppercase">Links</h3>
							<ul class="widget-recent-entries">
								<li>
									<a href="blog-detail.html">Irrwish</a>, <a href="blog-detail.html">Roger & friends</a>
								</li>
								<li>
									<a href="blog-detail.html">Responsive Design Process</a>
								</li>
								<li>
									<a href="blog-detail.html">A Little Journey</a>
								</li>
								<li>
									<a href="blog-detail.html">Powerful Workflow Tips</a>
								</li>
							</ul>
							<div class="mb-5 d-block d-md-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright text-center">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							Made with <i class="pe-7s-like"></i> by <a target="_blank" href="#">Orell Hürzeler</a> -
							<a target="_blank" href="#">Photosynthetic Arts</a>
						</div>
					</div>
				</div>
			</div>
		</div>








		<!-- LOAD JQUERY LIBRARY -->
		<script src=" {% static 'js/jquery.min.js' %}"></script>
		<script src=" {% static 'js/jquery-migrate.min.js' %}"></script>
		<script src=" {% static 'js/bootstrap.min.js' %}"></script>
		<script src=" {% static 'js/modernizr-2.7.1.min.js' %}"></script>
		<script src=" {% static 'js/jquery.sidr.min.js' %}"></script>
		<script src=" {% static 'js/jquery.countTo.js' %}"></script>
		<script src=" {% static 'js/owl.carousel.min.js' %}"></script>
		<script src=" {% static 'js/jquery.prettyPhoto.js' %}"></script>
		<script src=" {% static 'js/headroom.min.js' %}"></script>
		<script src=" {% static 'js/jQuery.headroom.js' %}"></script>
		<script src=" {% static 'js/waypoints.min.js' %}"></script>
		<script src=" {% static 'js/script.js' %}"></script>

		<script src=" {% static 'js/jquery.themepunch.tools.min.js' %}"></script>
		<script src=" {% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.video.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.slideanims.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.actions.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.kenburn.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.navigation.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.migration.min.js' %}"></script>
		<script src=" {% static 'js/extensions/revolution.extension.parallax.min.js' %}"></script>
	</body>
</html>
